body {
background: rgb(57, 192, 255);
color: rgb(123, 113, 255)
padding: 10px;
font-family: Arial, sans-serif;
}

#all-contents {
max-width: 800px;
margin: auto;
}

/* navigation menu */ nav {
background: rgb(121, 235, 255);
margin: 0 auto;
display: flex;
padding: 10px;
margin-bottom: 20px;
}
h1 {
display: flex;
align-items: center;
color: rgb(0, 0, 0);
flex: 1;
margin: 0;
}

#nav-ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}

.nav-li {
display: inline-block;
padding: 0 10px;
}

a {
text-decoration: none;
color: #fff;
}

/* main container area beneath menu */
main {
background: rgb(179, 236, 255);
display: flex;
margin-top: 20px;
}

.sidebar {
margin-right: 25px;
padding: 10px;
}

.sidebar-img {
width: 200px;
}

.content {
flex: 1;
padding: 15px;
}

/* interests section styles */
#interests {
border: 4px silver ridge;
padding: 8px;
margin-top: 20px;
}

h2, h3 {
margin: 0px;
}
/* Portfolio styles */
.content h1 {
  color: rgb(77, 124, 255);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #6a9eff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border:8px rgb(255, 59, 124);
}

#portfolio li:hover {
  background: #47c5ff;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}
/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}